<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1 style="display: flex; justify-content: center; font-family: Impact; color: goldenrod;">Технології</h1> 
   <p style="margin-left: 72px; font-family: Impact;">Технологічна промисловість - це промисловість майбутнього.Вона є найбільш затребувана зараз із-за великого розвидку технологій які весь час оновлюються. </p>
  <div style="display: flex;justify-content: space-around; size: 150px;">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1knxzIOrdcBTUYYu9DKM0LQ5tK18mmiTXYc2ihT2G&s" alt="">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXlU9FHHeoxCyvNYZlIHuWwI4ShfLi3WqtJHPMveBB&s" alt=""
   >
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuOrbEYGgmFVjJBL_pyvyNFY6yNo2dsi6873dk7K0K&s" alt="">
   </div> 

<a  href="{% url 'categorys:category_list' %}" 
   class="btn-home" 
   style="background-color: lightgray; color: black; display: flex; justify-content: center; gap: 10px; margin-top: 15px;">
    ← Назад
</a>



</body>
</html>